.create_room_content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.create_room {
    width: 44%;
    height: 80%;
    margin: 0 4% 0 4%;
    border-radius: 10px;
    background: #e7ebee;
    display: flex;
    flex-direction: column;
}

.room_form {
    margin: 8% 0 0 8%;
    color: #383c40;
}

.title {

}

.title_input {
    margin: 5px 0 0 0;
    height: 20px;
    width: 30%;
    background: #383c40;
    outline: none;
    border-style: solid;
    border-color: #767676;
    border-width: thin;
}

::placeholder {
    color: white;
    opacity: 0.5;
}

.title_input:active + .title_label{
    font-size: 20px;
}

.title_input:focus + .title_label{
    margin: 5px 0 0 0;
    height: 20px;
    width: 30%;
    background: #383c40;
    outline: none;
    border-style: solid;
    border-color: #5f5f5f;
    border-width: thin;
}

.description {
    margin: 10px 0 0 0;
}

.description_input {
    margin: 5px 0 0 0;
    width: 90%;
    background: #fbfbfb;
    border-style: solid;
    border-radius: 3px;
    border-color: #767676;
    border-width: thin;
}

.description_input:active {
    margin: 5px 0 0 0;
    width: 90%;
    background: #fbfbfb;
    outline-width: thin;
    outline-color: #666b70;
    border-style: solid;
    border-radius: 3px;
    border-color: #5f5f5f;
    border-width: thin;
}
.description_input:focus {
    margin: 5px 0 0 0;
    width: 90%;
    background: #fbfbfb;
    outline-width: thin;
    outline-color: #666b70;
    border-style: solid;
    border-radius: 3px;
    border-color: #5f5f5f;
    border-width: thin;
}

.join_room {
    width: 44%;
    height: 80%;
    margin: 0 4% 0 4%;
    border-radius: 10px;
    background: #e7ebee;
    display: flex;
    flex-direction: column;
}
