$underline: #11998e;
$gradient: #38ef7d;
$white: #fff;
$gray: #9b9b9b;
$panel: #575b5f;

.create_room_content {
  width: 100%;
  background-color: #383c40;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: NanumGothic, Arial, sans-serif;
}

.left_panel {
  width: 44%;
  height: 80%;
  margin: 0 4% 0 4%;
  border-radius: 10px;
  background: $panel;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.room_form {
  width: 80%;
  margin: 8% 0 0 0;
  color: #383c40;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.panel_icon_background {
  margin: 20px 0 0 0;
  display: flex;
  justify-content: center;
  height: 15%;
  width: 15%;
}

.panel_icon {

  filter: invert(70%);
  margin: 0 0 -20% 0;
}

.title {
  position: relative;
  padding: 15px 0 0;
  width: 100%;
}

.title_input {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid $gray;
  outline: 0;
  font-size: 1.1rem;
  color: $white;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .title_label {
    font-size: 1.2rem;
    cursor: text;
    top: 10px;
  }
}

.title_label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: $gray;
}

.title_input:focus {
  ~ .title_label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1.1rem;
    color: $underline;
    font-weight:700;
  }
  padding-bottom: 6px;
  font-weight: 500;
  border-width: 3px;
  border-image: linear-gradient(to right, $underline,$gradient);
  border-image-slice: 1;
}

.title_input{
  &:required,&:invalid { box-shadow:none; }
}

.description {
  position: relative;
  padding: 15px 0 0;
  margin: 10px 0 0 0;
  width: 100%;
}

.description_input {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid $gray;
  outline: 0;
  font-size: 1.1rem;
  color: $white;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
  resize: none;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .description_label {
    font-size: 1.2rem;
    cursor: text;
    top: 20px;
  }
}

.description_label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: $gray;
}

.description_input:focus {
  ~ .description_label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    color: $underline;
    font-weight:700;
  }
  padding-bottom: 6px;
  font-size: 1.1rem;
  font-weight: 400;
  border-width: 3px;
  border-image: linear-gradient(to right, $underline,$gradient);
  border-image-slice: 1;
}

.description_input{
  &:required,&:invalid { box-shadow:none; }
}

.checkboxes {
  margin: 4% 0 4% 0;
  color: $gray;
  font-size: 1rem;
  width: 80%;
}

.checkbox_label {
  display: flex;
  align-items: center;
}

.checkbox {
  width: 16px;
  height: 16px;
}

.panel_btn {
  width: 100px;
  height: 30px;
  border-radius: 25px;
  background:#00c8b3;
  outline: none;
  border:none;
  font-weight: 600;
}

.panel_btn:focus {
  background: #fd5957;
  outline: none;
  border:none;
  opacity: 0.6;
}

.panel_btn:active {
  background: #fd5957;
  outline: none;
  border:none;
  opacity: 0.6;
  width: 110px;
  height: 32px;
}

.panel_btn:hover {
  background: #fd5957;
  border: none;
  outline: none;
  box-shadow: none;
  transition: 0.3s;
}

.meeting_link {
  width: 80%;
  margin: 40px 0 20px 0;
  display: flex;
  flex-direction: column;
}

.link_label {
  display: block;
  color: $gray;
  font-size: 1.2rem;
  margin: 0 0 20px 0;
}

.room_link {
  border: dashed $gray;
  outline: none;
  box-shadow: none;
  font-size: 1.1rem;
  background: $panel;
  color: $white;
}

.link_btns {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin: 20px 0 0 0;
}

.btn_spacing {
  margin: 0 20px 0 0;
}

.right_panel {
  width: 44%;
  height: 80%;
  margin: 0 4% 0 0;
  border-radius: 10px;
  background: $panel;
  display: flex;
  flex-direction: column;
  align-items: center;
}
