html, body, #root {
    height: 100%;
}

.dashboard {
    background-color: #383c40;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    min-width: 1440px;
    min-height: 700px;
}

.dashboard_header {
    display: flex;
    height: 110px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dashboard_logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 5px 0 0 0;
}

.menu_icon_background {
    width: 34px;
    height: 34px;
    background-color: #323232;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_highlight_background:focus {
    background: #FF374C;
    color: #2b2b2b;
    filter: invert(100);
    transition: 0.2s;
}

.menu_highlight_background:hover {
    background: #FF374C;
    color: #2b2b2b;
    filter: invert(100);
    transition: 0.2s;
}

.logout_highlight_background:hover {
    background: #00c8b3;
    color: #2b2b2b;
    filter: invert(100);
    transition: 0.2s;
}

.logout_highlight_background:hover {
    background: #00c8b3;
    color: #2b2b2b;
    filter: invert(100);
    transition: 0.2s;
}

.menu_item_icon1 {
    width: 20px;
    height: 20px;
    filter: invert(65%);
}

.menu_item_icon2 {
    width: 20px;
    height: 20px;
    filter: invert(65%);
    margin: 0 1px 0 0;
}

.menu_item_icon3 {
    width: 20px;
    height: 20px;
    filter: invert(65%);
    margin: 0 0 0 3px;
}
