.history_content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: NanumGothic, Arial, sans-serif;
    color: white;
}

.history_background {
    height: 95%;
    width: 95%;
    background: #575b5f;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.table_titles {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    font-size: 20px;
    font-weight: 700;
    margin: 5% 0 0 0;
}

.title {
    margin: 0 6% 0 6%;
    width: 25%;
}

hr {
    display: block;
    position: relative;
    padding: 0;
    margin: 8px auto;
    height: 0;
    width: 90%;
    max-height: 0;
    font-size: 1px;
    line-height: 0;
    clear: both;
    border: none;
    border-top: 1px solid #b2b2b2;
    border-bottom: 1px solid #b2b2b2;
}

.history_control {
    margin: 5px 0 0 0;
}

.history_btn {
    width: 90px;
    height: 25px;
    border-radius: 25px;
    background:#00c8b3;
    outline: none;
    border:none;
    font-weight: 600;
    margin: 0 5px 0 5px;
}

.history_btn:focus {
    background: #fd5957;
    outline: none;
    border:none;
    opacity: 0.6;
    cursor: pointer;
}

.history_btn:active {
    background: #fd5957;
    outline: none;
    border:none;
    opacity: 0.6;
    width: 110px;
    height: 32px;
    cursor: pointer;
}