.home {
  height: 112%;
  position: absolute;
  background-color: #00c8b3;
  left: 0;
  width: 100%;
  min-width: 1440px;
  text-align: center;
  font-family: NanumGothic, Arial, sans-serif;
}

::-webkit-scrollbar {
  height: 10px;
  width: 10px;
  border: 1px solid #fff;
}

::-webkit-scrollbar-track {
  border-radius: 0;
  background: #f1f8fd;
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
  background: #51888a;
}

::-webkit-scrollbar-corner {
  border-radius: 0;
  background: #51888a;
}