/* flex column in vertical */
.login_page {
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*
padding 10px 45px 45px 45px in vertical
padding 0 140px 45px 45px in horizontal
*/
.logo {
    padding: 0px 45px 45px 45px;
    display: flex;
    flex-direction: column;
}

.login_err {
    color: red;
    font-size: 12px;
    margin: 20px 0 -20px 0;
}

.login_box {
    background-color: #f1f8fd;
    height: 380px;
    width: 400px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.login_forms {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top_form {
    margin: 40px 0 10px 0;
}

label {
    float: left;
}

.forgot_pass {
    font-size: 12px;
    margin: 5px 0 0 0;
    display: flex;
    justify-content: flex-start;
}

.submit_form {
    margin: 25px 0 0 0;
    width: 100px;
    height: 30px;
    border-radius: 25px;
    background:#00c8b3;
    outline: none;
    border:none;
}

.submit_form:focus {
    background: #fd5957;
    outline: none;
    border:none;
    opacity: 0.6;
}

.submit_form:hover {
    background: #fd5957;
    border: none;
    outline: none;
    box-shadow: none;
    transition: 0.3s;
}

hr {
    display: block;
    position: relative;
    padding: 0;
    margin: 8px auto;
    height: 0;
    width: 80%;
    max-height: 0;
    font-size: 1px;
    line-height: 0;
    clear: both;
    border: none;
    border-top: 1px solid #aaaaaa;
    border-bottom: 1px solid #ffffff;
}

.register_btn {
    margin: 10px 0 0 0;
    width: 100px;
    height: 30px;
    border-radius: 25px;
    background:#00c8b3;
    outline: none;
    border:none;
}

.register_btn:focus {
    background: #fd5957;
    outline: none;
    border:none;
    opacity: 0.6;
}


.register_btn:hover {
    background: #fd5957;
    border: none;
    outline: none;
    box-shadow: none;
    transition: 0.3s;
}