.redirect_page {
    height: 88%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.message_block {
    background-color: #f1f8fd;
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    border-radius: 15px 15px 15px 15px;
}

.message {
    font-size: 20px;
    height: 200px;
    width: auto;
    margin: 35% 0 0 0;
}