.room_wrap {
    height: 100%;
    width: 100%;
    min-width: 1200px;
    min-height: 700px;
}

.room {
    display: flex;
    flex-direction: row;
    background: #383c40;
    height: 100%;
    width: 100%;
    min-width: 1200px;
    min-height: 700px;
}

.main_viewport {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    min-width: 1000px;
    border-right: solid 1px #1d1d1d;
}

.vid_collection {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #383c40;
    height: 88%;
    width: 100%;
    min-height: 616px;
    min-width: 1000px;
    margin: auto;
    padding-top: 10px;
    border-bottom: solid 1px #1d1d1d;
}

.view_port_wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: black;
    border-radius: 0.5%;
    width: 720px;
    height: 480px;
    margin: 0 10px 10px 10px;
}

.vid_viewport {
    position: relative;
    width: 100% !important;
    height: 100% !important;
    z-index: 0;
}

.user_info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: auto;
    padding: 3px 3px 3px 5px;
    color: white;
    font-family: NanumGothic, Arial, sans-serif;
    background: #2b2b2b;
    font-size: 14px;
    text-align: center;
    vertical-align: center;
    z-index: 1;
}

.status_mute {
    height: 13px;
    filter: invert(100%);
    margin: 2px 0 0 2px;
    display: none;
}

.menu_board {
    height: 12%;
    min-height: 84px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.room_btn {
    background: white;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: none;
    outline: none;
    margin: 0 10px 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons {
    height: 40px;
    width: 40px;
}

.icon_margin {
    margin: 0 0 0 3px;
}

.room_btn:hover {
    filter: invert(100%);
    cursor: pointer;
}

.side_bar {
    background: #383c40;
    min-width: 300px;
}

.call_ended {
    position: absolute;
    bottom: 50%;
    left: 30%;
    right: 30%;
    text-align: center;
    font-size: 26px;
    font-family: NanumGothic, Arial, sans-serif;
    color: white;
    display: none;
}