.room_wrap {
    height: 100%;
    width: 100%;
    min-width: 1240px;
    min-height: 700px;
    font-family: NanumGothic, Arial, sans-serif;
}

.room {
    display: flex;
    flex-direction: row;
    background: #383c40;
    height: 100%;
    width: 100%;
    min-height: 700px;
}

.main_viewport {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background: #383c40;
}

.vid_collection {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #383c40;
    height: 88%;
    width: 100%;
    min-height: 616px;
    margin: auto;
    padding-top: 10px;
    border-bottom: solid 1px #1d1d1d;
}

.view_port_wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: black;
    border-radius: 0.5%;
    width: 720px;
    height: 480px;
    margin: 0 5px 10px 5px;
}

.vid_viewport {
    position: relative;
    width: 100% !important;
    height: 100% !important;
    z-index: 0;
}

.user_info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: auto;
    padding: 3px 3px 3px 5px;
    color: white;
    background: #2b2b2b;
    font-size: 14px;
    text-align: center;
    vertical-align: center;
    z-index: 1;
}

.status_mute {
    height: 13px;
    filter: invert(100%);
    margin: 2px 0 0 2px;
    display: none;
}

.menu_board {
    height: 9%;
    min-height: 82px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.room_btn {
    background: white;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: none;
    outline: none;
    margin: 0 10px 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons {
    height: 40px;
    width: 40px;
}

.icon_margin {
    margin: 0 0 0 3px;
}

.room_btn:hover {
    filter: invert(100%);
    cursor: pointer;
}

.side_bar {
    background: #f1f8fd;
    min-width: 300px;
}

.members {
    height: 220px;
    border-bottom: solid 2px #adadad;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.room_name {
    font-size: 20px;
    font-weight: 400;
    color: black;
    margin: 4px 0 0 0;
    border-bottom: solid 2px #adadad;
    height: 24px;
    width: 100%;
    padding: 10px 0 10px 0;
}

.user_display {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    color: black;
    font-size: 16px;
    margin: 0 0 10px 0;
}

.self_display {
    margin: 10px 0 10px 0;
}

.room_logo {
    height: 16px;
    width: 16px;
    margin: 0 6px 0 0;
}

.scrollable_chat {
    height: 50%;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chat_wrap {
    margin: 16px auto 0 18px;
    width: fit-content;
    max-width: 80%;
}

.user_name {
    font-size: 10px;
    font-weight: 500;
    margin: 0 0 2px 6px;
    color: #aaaaaa;
}

.chat_entry_wrap {
    padding: 2px 10px 2px 10px;
    margin: 0 0 6px 0;
    background: #00c8b3;
    color: white;
    border-radius: 8px;
    font-size: 12px;
    box-shadow: 2px 3px 5px #C1B9C8;
    position: relative;
    z-index: 1;
}

.chat_entry_wrap:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 9px;
    left: -16px;
    height: 12px;
    border-right: 20px solid #00c8b3;
}

.chat_entry_wrap:after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 11px;
    left: -24px;
    width: 23px;
    height: 12px;
    background: #f1f8fd;
    transform: rotate(45deg);
}

.chat_wrap_self {
    margin: 16px 20px 0 auto;
    max-width: 80%;
}

.user_name_self {
    margin: 0 0 2px 6px;
}

.chat_entry_wrap_self {
    padding: 2px 10px 2px 10px;
    margin: 0 0 6px 0;
    background: #A9B5B5;
    color: white;
    border-radius: 8px;
    font-size: 12px;
    box-shadow: 0 3px 5px -1px #C1B9C8;
    position: relative;
    z-index: 1;
}

.chat_entry_wrap_self:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 9px;
    right: -16px;
    height: 12px;
    border-left: 20px solid #A9B5B5;
}

.chat_entry_wrap_self:after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 11px;
    right: -24px;
    width: 23px;
    height: 12px;
    background: #f1f8fd;
    transform: rotate(135deg);
}

.time {
    font-size: 8px;
    margin: 2px 0 0 0;
}

.message {
    display: flex;
    justify-content: center;
    height: 40px;
}

.message_box {
    resize: none;
    width: 90%;
}

.call_ended {
    position: absolute;
    bottom: 50%;
    left: 30%;
    right: 30%;
    text-align: center;
    font-size: 26px;
    color: white;
    display: none;
}