.room {
    display: flex;
    flex-direction: row;
    background: #383c40;
    height: 100%;
    width: 100%;
    min-width: 1000px;
    margin: auto;
}

.main_viewport {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 90%;
    border-right: solid 1px #1d1d1d;
}

.vid_collection {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #383c40;
    height: 88%;
    width: 100%;
    margin: auto;
    border-bottom: solid 1px #1d1d1d;
}

.self_vid_viewport {
    width: 110px    !important;
    height: auto   !important;
    margin: 0 0 0 10px;
}

.view_port_wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: black;
    border: solid 5px black;
    border-radius: 16px;
    width: 56%;
    height: 80%;
    margin: 10px 10px 10px 10px;
}

.vid_viewport {
    width: auto !important;
    height: 80% !important;
}

.display_name_wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.display_name {
    width: 40%;
    color: white;
    font-family: NanumGothic, Arial, sans-serif;
    background: #2b2b2b;
    font-size: 14px;
    text-align: center;
}

.control_panel {
    height: 12%;
    min-width: 65px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.self_vid_viewport_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.side_bar {
    min-width: 300px;
}
