.room_wrap {
    height: 100%;
    width: 100%;
}

.room {
    height: 100%;
    width: 100%;
    min-height: 700px;
    min-width: 1140px;
    font-family: NanumGothic, Arial, sans-serif;
    display: flex;
    flex-direction: row;
    position: relative;
    z-index: 0;
}

.call_ended {
    position: absolute;
    bottom: 50%;
    left: 30%;
    right: 30%;
    text-align: center;
    font-size: 26px;
    color: white;
    display: none;
    z-index: 1;
}


.end_link {
    position: absolute;
    bottom: 50%;
    left: 30%;
    right: 30%;
    text-align: center;
    font-size: 26px;
    color: white;
    display: none;
    z-index: 2;
}